body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #98bcff;
}

#kana {
  font-size: 60px;
  margin-bottom: 20px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

#result {
  margin-top: 15px;
  font-weight: bold;
}

.quiz-box {
  background: white;
  padding: 20px;
  margin: 50px auto;
  width: 300px;
  border-radius: 10px;

  /* center everything inside */
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 10px;
  width: 80%;
  font-size: 18px;

  /* center text inside input */
  text-align: center;

  margin-top: 10px;
}
#choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
  margin-top: 15px;
}

.choice {
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f9f9f9;
}

.choice:hover {
  background: #eaeaea;
}
.choice.correct {
  background: #c8e6c9;
  border-color: #388e3c;
  color: #2e7d32;
}
